    body{
        margin: 0 auto;
        text-align: center;
        te
    }
    .contenedor {
            display: table;
            margin: 1em;
			
		}
		.contenidos {
			display: table-row;
		}
		.cajassimon {
			display: table-cell;
			width: 30em;
            height: 30em;
			}
		.rojo {
            background:darkred;
            border-radius: 30em 0px 0px 0px;
            -moz-border-radius: 30em 0px 0px 0px;
            -webkit-border-radius: 30em 0px 0px 0px;
            border: 2px solid #000000;
			}
		
		.amarillo {
            background:#E09D21;
            border-radius: 0px 30em 0px 0px;
            -moz-border-radius: 0px 30em 0px 0px;
            -webkit-border-radius: 0p x 30em 0px 0px;
            border: 2px solid #000000;

			;}
		
		.verde {
            background:darkgreen;
            border-radius: 0px 0px 0px 30em;
            -moz-border-radius: 0px 0px 0px 30em;
            -webkit-border-radius: 0px 0px 0px 30em;
            border: 2px solid #000000;
			}
		.azul {
        background:darkblue;
        border-radius: 0px 0px 30em 0px;
        -moz-border-radius: 0px 0px 30em 0px;
        -webkit-border-radius: 0px 0px 30em 0px;
        border: 2px solid #000000;
        }
       
        .btn{
            display:table-caption;
            margin:0 5em 0 5em;
        }